<section class="bg-dark">
    <div class="container">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5 p-5 pb-0">
                    <h2 class="fw-bolder text-white">Ups, zdá se, že sem nemáte přístup!</h2>
                </div>
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1 text-center">
                                    Pokud máte dojem, že to tak není správně, kontaktuje administrátora.<br />
                                    <strong>e-mail:</strong> admin@pojistovna.cz<br />
                                    <strong>telefon:</strong> +420 000 999 000
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>